__pycache__/
.ipynb_checkpoints/
images/
in_cell_images/
saved_models/
data/
cfg/
iti/
weights/
assets/
detector_architectures/
1. Robot Moving and Sensing.html
3. Landmark Detection and Tracking.html
models/

